@media screen and (max-width: 3000px) {
  #button {
    font-size: 20px;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    padding: 15px;
    border: 2px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(264, 59%, 75%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }

  #button:hover {
    font-size: 20px;
    border: 2px;
    font-weight: bold;
    padding: 15px;
    color: hsl(264, 59%, 75%);
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    cursor: pointer;
  }

  #titlebox {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    background-color: hsl(0, 0%, 100%);
    width: auto;
    height: 150px;
    color: #000;
    padding: 10px;
    border-radius: 10px;
  }

  #box {
    text-align: center;
    background-color: hsl(172, 46%, 75%);
    max-width: 100%;
    height: 605px;
    box-sizing: border-box;
    padding-bottom: 20%;
    color: #000;
    border-radius: 10px;
    box-shadow: 0px 50px 20px -50px rgba(0, 0, 0, 0.45);
    position: initial;
    z-index: 1;
  }

  #key {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
    background-color: hsl(0, 0%, 100%);
    width: auto;
    color: #000;
    padding: 20px;
    margin-top: -35px;
    border-radius: 10px;
    display: block;
    transform: translateY(-450px);
    transition: transform 0.5s ease;
    z-index: -1;
    position: relative;
    box-shadow: 0px 50px 20px -50px rgba(0, 0, 0, 0.45);
  }

  #atext {
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    padding-bottom: 7px;
    padding-top: 55px;
  }

  #arrow {
    width: 0;
    height: 0;
    rotate: 180deg;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid hsl(264, 59%, 75%);
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  #arrow.collapsed {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
  }

  #numCamels {
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    padding: 20px;
    background-color: hsla(0, 0%, 100%, 0.877);
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: -10px;
    width: 100px;
    text-align: center;
    transition: width 0.2s;
  }

  #title {
    color: rgb(0, 0, 0);
  }

  #subtitle {
    color: rgb(0, 0, 0);
    font-family: "Courier New", Courier, monospace;
    font-size: 27px;
  }
  #subtitle2 {
    color: rgb(0, 0, 0);
    font-family: "Courier New", Courier, monospace;
    font-size: 27px;
  }

  #pic {
    height: 50px;
    width: 50px;
    margin-top: 20px;
    margin-bottom: -20px;
  }

  #solid {
    border: 1px solid;
    border-color: #000;
  }

  #zakahResult {
    font-family: "Courier New", Courier, monospace;
    font-size: 15px;
    color: #000;
    padding-top: 30px;
    border-radius: 10px;
    width: auto;
    height: 70px;
    text-align: center;
    opacity: 1;
  }

  #zakahdiv {
    padding-bottom: 10px;
    background-color: hsla(0, 0%, 100%, 0.637);
    border-radius: 10px;
    margin-bottom: -40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -10px;
    width: auto;
    height: 70px;
    text-align: center;
    opacity: 1;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .fade-in {
    animation: fadeIn 1s ease;
  }

  input.no-spin::-webkit-inner-spin-button,
  input.no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }
}

#menu {
  position: relative;
  padding: 30px;
  width: 40px;
  height: 40px;
  top: 7%;
  left: 50%;
  transform: translateX(-50%);
  background: url("camel.png") hsl(172, 46%, 75%);
  border-radius: 20%;
  align-items: center;
  cursor: pointer;
  &.open {
    #button1,
    #cowpng,
    #button2 {
      opacity: 1;
      pointer-events: auto;
      &:first-of-type {
        right: 120px;
      }
      &:not(:first-of-type):not(:last-of-type) {
        right: -120px;
      }
      &:last-of-type {
        right: -120px;
      }
    }
  }
}

#menu2 {
  position: relative;
  padding: 30px;
  width: 40px;
  height: 40px;
  top: 7%;
  left: 50%;
  transform: translateX(-50%);
  background: url("cow.png") hsl(172, 46%, 75%);
  border-radius: 20%;
  align-items: center;
  cursor: pointer;
  &.open {
    #button3,
    #camelpng,
    #button4 {
      opacity: 1;
      pointer-events: auto;
      &:first-of-type {
        right: 120px;
      }
      &:not(:first-of-type):not(:last-of-type) {
        right: -120px;
      }
      &:last-of-type {
        right: -120px;
      }
    }
  }
}

#menu3 {
  position: relative;
  padding: 30px;
  width: 40px;
  height: 40px;
  top: 7%;
  left: 50%;
  transform: translateX(-50%);
  background: url("sheep.png") hsl(172, 46%, 75%);
  border-radius: 20%;
  align-items: center;
  cursor: pointer;
  &.open {
    #button5,
    #camelpng,
    #button6 {
      opacity: 1;
      pointer-events: auto;
      &:first-of-type {
        right: 120px;
      }
      &:not(:first-of-type):not(:last-of-type) {
        right: -120px;
      }
      &:last-of-type {
        right: -120px;
      }
    }
  }
}

#button1 {
  border-radius: 20%;
  cursor: pointer;
  background: url("cow.png") no-repeat 50%/70% hsl(172, 46%, 75%);
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.2s ease opacity,
    0.2s cubic-bezier(0.08, 0.82, 0.17, 1) transform;
  &:hover {
    transform: scale(1.1);
  }
}

#button2 {
  padding: 50px;
  border-radius: 20%;
  cursor: pointer;
  background: url("sheep.png") no-repeat 50%/70% hsl(172, 46%, 75%);
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.2s ease opacity,
    0.2s cubic-bezier(0.08, 0.82, 0.17, 1) transform;
  &:hover {
    transform: scale(1.1);
  }
}

#button3 {
  border-radius: 20%;
  padding: 30px;
  cursor: pointer;
  background: url("camel.png") no-repeat 50%/70% hsl(172, 46%, 75%);
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.2s ease opacity,
    0.2s cubic-bezier(0.08, 0.82, 0.17, 1) transform;
  &:hover {
    transform: scale(1.1);
  }
}

#button4 {
  border-radius: 20%;
  padding: 30px;
  cursor: pointer;
  background: url("sheep.png") no-repeat 50%/70% hsl(172, 46%, 75%);
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.2s ease opacity,
    0.2s cubic-bezier(0.08, 0.82, 0.17, 1) transform;
  &:hover {
    transform: scale(1.1);
  }
}

#button5 {
  border-radius: 20%;
  padding: 30px;
  cursor: pointer;
  background: url("camel.png") no-repeat 50%/70% hsl(172, 46%, 75%);
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.2s ease opacity,
    0.2s cubic-bezier(0.08, 0.82, 0.17, 1) transform;
  &:hover {
    transform: scale(1.1);
  }
}

#button6 {
  border-radius: 20%;
  padding: 30px;
  cursor: pointer;
  background: url("cow.png") no-repeat 50%/70% hsl(172, 46%, 75%);
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.2s ease opacity,
    0.2s cubic-bezier(0.08, 0.82, 0.17, 1) transform;
  &:hover {
    transform: scale(1.1);
  }
}

@media screen and (min-width: 992px) {
  #button {
    font-size: 25px;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(264, 59%, 75%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }

  #button:hover {
    font-size: 25px;
    border: 2px;
    font-weight: bold;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: hsl(264, 59%, 75%);
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    cursor: pointer;
  }

  #titlebox {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    background-color: hsl(0, 0%, 100%);
    width: auto;
    color: #000;
    margin-top: -150px;
    padding: 50px;
    border-radius: 10px;
  }

  #key {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 50px 20px -50px rgba(0, 0, 0, 0.45);
    width: auto;
    color: #000;
    border-radius: 10px;
    margin-top: -30px;
    display: block;
    transform: translateY(-450px);
    transition: transform 0.5s ease;
    z-index: -1;
    position: relative;
  }

  #box {
    text-align: center;
    background-color: hsl(172, 46%, 75%);
    width: 700px;
    height: 703px;
    color: #000;
    border-radius: 10px;
    box-shadow: 0px 50px 20px -50px rgba(0, 0, 0, 0.45);
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 200px;
    padding-top: 20px;
    position: initial;
    z-index: 1;
  }

  #atext {
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    padding-bottom: 7px;
    padding-top: 10px;
  }

  #arrow {
    width: 0;
    height: 0;
    rotate: 180deg;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid hsl(264, 59%, 75%);
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  #arrow.collapsed {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
  }

  #numCamels {
    font-size: 30px;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: hsla(0, 0%, 100%, 0.877);
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: -20px;
    width: 160px;
    text-align: center;
    transition: width 0.2s;
  }

  #title {
    color: rgb(0, 0, 0);
    font-size: 50px;
  }

  #subtitle {
    color: rgb(0, 0, 0);
    font-family: "Courier New", Courier, monospace;
    font-size: 40px;
  }

  #subtitle2 {
    color: rgb(0, 0, 0);
    font-family: "Courier New", Courier, monospace;
    font-size: 40px;
  }

  #pic {
    height: 100px;
    width: 100px;
    margin-top: -20px;
    margin-bottom: -25px;
  }

  #solid {
    border: 1px solid;
    border-color: #000;
  }

  #zakahResult {
    font-family: "Courier New", Courier, monospace;
    font-size: 30px;
    color: #000;
    padding-bottom: 10px;
    padding-top: 20px;
    border-radius: 10px;
    width: auto;
    height: 50px;
    text-align: center;
    opacity: 1;
  }

  #zakahdiv {
    padding-top: 10px;
    padding-bottom: 40px;
    background-color: hsla(0, 0%, 100%, 0.637);
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: -20px;
    width: auto;
    height: 100px;
    text-align: center;
    opacity: 1;
    z-index: 1;
  }

  #nav {
    position: relative;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .fade-in {
    animation: fadeIn 1s ease;
  }

  input.no-spin::-webkit-inner-spin-button,
  input.no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }
}

#menu {
  position: relative;
  padding: 30px;
  width: 40px;
  height: 40px;
  background: url("camel.png") no-repeat 50%/70% hsl(172, 46%, 75%);
  border-radius: 20%;
  align-items: center;
  cursor: pointer;
  &.open {
    #button1,
    #cowpng #button2 {
      opacity: 1;
      pointer-events: auto;
      &:first-of-type {
        right: 120px;
      }
      &:not(:first-of-type):not(:last-of-type) {
        right: -120px;
      }
      &:last-of-type {
        right: 120px;
      }
    }
  }
}

#menu2 {
  position: relative;
  padding: 30px;
  width: 40px;
  height: 40px;
  background: url("cow.png") no-repeat 50%/70% hsl(172, 46%, 75%);
  border-radius: 20%;
  align-items: center;
  cursor: pointer;
  &.open {
    #button3,
    #camelpng #button4 {
      opacity: 1;
      pointer-events: auto;
      &:first-of-type {
        right: 120px;
      }
      &:not(:first-of-type):not(:last-of-type) {
        right: -120px;
      }
      &:last-of-type {
        right: 120px;
      }
    }
  }
}

#menu3 {
  position: relative;
  padding: 30px;
  width: 40px;
  height: 40px;
  background: url("sheep.png") no-repeat 50%/70% hsl(172, 46%, 75%);
  border-radius: 20%;
  align-items: center;
  cursor: pointer;
  &.open {
    #button5,
    #camelpng #button6 {
      opacity: 1;
      pointer-events: auto;
      &:first-of-type {
        right: 120px;
      }
      &:not(:first-of-type):not(:last-of-type) {
        right: -120px;
      }
      &:last-of-type {
        right: 120px;
      }
    }
  }
}

#button1 {
  border-radius: 20%;
  padding: 30px;
  cursor: pointer;
  background: url("cow.png") no-repeat 50%/70% hsl(172, 46%, 75%);
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.2s ease opacity,
    0.2s cubic-bezier(0.08, 0.82, 0.17, 1) transform;
  &:hover {
    transform: scale(1.1);
  }
}

#button2 {
  border-radius: 20%;
  padding: 30px;
  cursor: pointer;
  background: url("sheep.png") no-repeat 50%/70% hsl(172, 46%, 75%);
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.2s ease opacity,
    0.2s cubic-bezier(0.08, 0.82, 0.17, 1) transform;
  &:hover {
    transform: scale(1.1);
  }
}

#button3 {
  border-radius: 20%;
  padding: 30px;
  cursor: pointer;
  background: url("camel.png") no-repeat 50%/70% hsl(172, 46%, 75%);
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.2s ease opacity,
    0.2s cubic-bezier(0.08, 0.82, 0.17, 1) transform;
  &:hover {
    transform: scale(1.1);
  }
}

#button4 {
  border-radius: 20%;
  padding: 30px;
  cursor: pointer;
  background: url("sheep.png") no-repeat 50%/70% hsl(172, 46%, 75%);
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.2s ease opacity,
    0.2s cubic-bezier(0.08, 0.82, 0.17, 1) transform;
  &:hover {
    transform: scale(1.1);
  }
}

#button5 {
  border-radius: 20%;
  padding: 30px;
  cursor: pointer;
  background: url("camel.png") no-repeat 50%/70% hsl(172, 46%, 75%);
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.2s ease opacity,
    0.2s cubic-bezier(0.08, 0.82, 0.17, 1) transform;
  &:hover {
    transform: scale(1.1);
  }
}

#button6 {
  border-radius: 20%;
  padding: 30px;
  cursor: pointer;
  background: url("cow.png") no-repeat 50%/70% hsl(172, 46%, 75%);
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.2s ease opacity,
    0.2s cubic-bezier(0.08, 0.82, 0.17, 1) transform;
  &:hover {
    transform: scale(1.1);
  }
}
